---
layout: skill
title: Data Visualisation
framework:
  name: Government Digital and Data Framework
  url: /SkillsFramework/government-digital-data
---

<meta itemprop="framework" content="/SkillsFramework/government-digital-data">
<meta itemprop="skillType" content="technical">

<p itemprop="description">Data visualisation involves presenting and exploring data graphically, identifying trends, patterns and outliers in data and using visualisation to tell a story with data.</p>

<div class="proficiency-levels">
    <h2>Proficiency Levels</h2>

    <ol class="skill-levels">
        <li>
            <h3>Awareness</h3>
            <p>You can recognise good data visualisation design and understand how visualisation can be used to tell a story with data.</p>
        </li>
        <li>
            <h3>Working</h3>
            <p>You can create basic visualisations and understand when different chart types are appropriate. You can use common visualisation tools.</p>
        </li>
        <li>
            <h3>Practitioner</h3>
            <p>You can design effective visualisations that communicate insights clearly. You understand advanced visualisation techniques and can create interactive dashboards.</p>
        </li>
        <li>
            <h3>Expert</h3>
            <p>You can lead visualisation strategy and standards. You can create innovative visualisation solutions and teach others best practices in data visualisation.</p>
        </li>
    </ol>
</div>

<div class="related-skills">
    <h2>Related Skills</h2>
    <ul>
        <li><a href="/SkillsFramework/government-digital-data/skills/data-analysis" itemprop="relatedSkill">Data Analysis</a></li>
        <li><a href="/SkillsFramework/government-digital-data/skills/statistical-methods" itemprop="relatedSkill">Statistical Methods</a></li>
        <li><a href="/SkillsFramework/government-digital-data/skills/programming-and-build" itemprop="relatedSkill">Programming and Build</a></li>
    </ul>
</div>

<div class="synonyms">
    <h2>Alternative Names</h2>
    <span itemprop="synonym">Data Viz</span>
    <span itemprop="synonym">Information Visualisation</span>
    <span itemprop="synonym">Chart Creation</span>
</div>