--- 
layout: schema
schematype: Cardinal
tag: schema
---
<p itemprop="description">
    The Cardinal datatype is an enumerated type, with the following possible values:
    <ol>
        <li><strong itemprop="enumerator">1</strong> - Exactly one instance of the property is required.</li>
        <li><strong itemprop="enumerator">0..1</strong> - Zero or one instance of the property is allowed.</li>
        <li><strong itemprop="enumerator">0..n</strong> - Zero or more instances of the property are allowed.</li>
        <li><strong itemprop="enumerator">1..n</strong> - One or more instances of the property are required.</li>
    </ol>
</p>
