--- 
layout: schema
schematype: Cardinal
tags: schema
description: The Cardinal datatype is an <a href="/Enumerated">Enumerated</a> type that indicates the cardinality of a property in a schema.
---
<p itemprop="description">
    {{ description }}
</p>
<p>
    It has the following possible values:
    <ol>
        <li><strong itemprop="enumerator">1</strong> - Exactly one instance of the property is required.</li>
        <li><strong itemprop="enumerator">0..1</strong> - Zero or one instance of the property is allowed.</li>
        <li><strong itemprop="enumerator">0..n</strong> - Zero or more instances of the property are allowed.</li>
        <li><strong itemprop="enumerator">1..n</strong> - One or more instances of the property are required.</li>
    </ol>
</p>
