--- 
layout: schema
schematype: Enumerated
tags: schema
description: Defines a datatype that allows for a fixed set of values
---
<section itemprop="description">
    <p>
        The enumerated datatype is a type that allows for a fixed set of values, known as enumerators. Each enumerator is a specific value that can be used. The value is valid when it matches one of the enumerators defined in the schema.
    </p>
    <p>
        The enumerated type has a <span itemprop="cardinality">1..n</span> of <strong itemprop="name">enumerator</strong> properties that are <a href="https://schema.org/Text" itemprop="type">https://schema.org/Text</a>.
    </p>
</section>