---
layout: schema
schematype: SkillsFramework
tags: schema
description: defines the structure for a professional skills framework
---
<p itemprop="description">The SkillsFramework schema defines the structure for a professional skills framework, allowing for flexible modeling of different framework structures and approaches such as the UK Government's Digital, Data & Technology professional framework,
    SFIA, or custom organizational competency models.</p>

<table>
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Type</th>
            <th>Cardinality</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">name</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">1</td>
            <td itemprop="description">The name of the skills framework</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">description</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">A description of the framework's purpose and scope</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">version</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">Version identifier for the framework</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">authority</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">The organization or body that maintains this framework</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">url</td>
            <td itemprop="type">https://schema.org/URL</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">Official URL for the framework documentation</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">datePublished</td>
            <td itemprop="type">https://schema.org/Date</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">When this version was published</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">dateModified</td>
            <td itemprop="type">https://schema.org/Date</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">When this version was last modified</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">proficiencyScale</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..n</td>
            <td itemprop="description">Proficiency measurement used in this framework</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">categoryType</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..n</td>
            <td itemprop="description">Type of grouping used (job-family, domain, discipline, capability-area)</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">targetSector</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">Industry or sector focus</td>
        </tr>
        <tr itemscope itemtype="https://organised.team/Property">
            <td itemprop="name">scope</td>
            <td itemprop="type">https://schema.org/Text</td>
            <td itemprop="cardinality">0..1</td>
            <td itemprop="description">Geographic or organizational scope</td>
        </tr>

    </tbody>
</table>
