--- 
layout: schema
schematype: Team
tag: schema
---
<section itemprop="description">
    <p>
        A team is just an <a href="https://organised.team/Organization" itemprop="parent">https://organised.team/Organization</a>.
    </p>
</section>