--- 
layout: schema
schematype: Software
tag: schema
description: Represents a piece of software as a product or the work output of a software development team
---
<section>
    <p itemprop="description">
        A piece of software is a <a href="https://schema.org/Product" itemprop="parent">https://schema.org/Product</a>.
    </p>
</section>
